@import "tailwindcss";

@plugin "tailwindcss-animate";

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Regular.woff2") format("woff2"),
    url("/fonts/MonumentExtended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Ultrabold.woff2") format("woff2"),
    url("/fonts/MonumentExtended-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fff;
  --foreground: #444;
  --primary: #57f09f;
  --primary-foreground: #fff;

  --width-footer: 1240px;
  --max-width-navbar: 1331px;
}

@theme {
  --color-primary: #57f09f;
  --color-txt-100: #222;
  --color-txt-200: #666;
  --color-txt-300: #d9d9d9;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-foreground: var(--primary-foreground);

  --spacing-width-footer: var(--width-footer);
  --spacing-max-width-navbar: var(--max-width-navbar);

  --font-sans: "Archivo Variable", sans-serif;
  --font-monument: "MonumentExtended", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
