---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="pt-12 bg-txt-100 relative">
    <Navbar />
  </div>
  <h1>Hello World</h1>
</Layout>
