---
import footerImage from "@/assets/images/bold-labs-logo.png";
import Image from "astro/components/Image.astro";
const year = new Date().getFullYear();
---

<footer class="bg-txt-100 text-white pt-14 pb-8">
  <div class="wrapper">
    <div class="flex justify-center">
      <Image
        src={footerImage}
        alt="Bold Labs Logo"
        width={409}
        height={196}
        class="max-w-[240px] mx-auto lg:max-w-none"
      />
    </div>
    <p class="font-monument text-3xl text-center mt-5 mb-7">
      Inovar. Inspirar. Criar
    </p>
    <div
      class="md:flex justify-between text-center text-xs md:text-lg max-w-width-footer mx-auto"
    >
      <p>Copyright © {year} Bold Labs. All rights reserved.</p>
      <ul></ul>
    </div>
  </div>
</footer>
