---
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import { Image } from "astro:assets";

import hero1Image from "@/assets/images/hero-1.jpg";
import hero2Image from "@/assets/images/hero-2.jpg";
import hero3Image from "@/assets/images/hero-3.jpg";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="pt-[132px] pb-[143px] md:pb-[230px] relative">
  <div
    class="capitalize text-center font-monument text-3xl md:text-big-hero text-white"
  >
    <div
      class="-skew-x-[10deg] inline-block bg-primary rounded-sm py-1 px-4 leading-tight mb-4"
    >
      <span>{t("hero.marked-title")}</span>
    </div>
    {t("hero.title")}
    <br />
    <p class="text-base md:text-5xl">{t("hero.small-title")}</p>
  </div>
  <p
    class="text-center text-xs md:text-2xl text-[#ddd] mt-8 max-w-4xl mx-auto leading-[170%] md:leading-10"
  >
    {t("hero.subtitle")}
  </p>
  <div
    class="absolute w-full left-1/2 -translate-x-1/2 -bottom-2 flex max-w-xl md:max-w-4xl lg:max-w-7xl md:-bottom-16 px-4 gap-2"
  >
    <Image
      class="rounded-2.5xl w-1/4 -translate-y-4 relative z-10 rotate-6 border-image"
      src={hero1Image}
      width={297}
      height={297}
      alt=""
    />
    <Image
      class="rounded-2.5xl w-1/4 translate-y-2 -rotate-8 border-image"
      src={hero2Image}
      width={297}
      height={297}
      alt=""
    />
    <Image
      class="rounded-2.5xl w-1/4 rotate-3 border-image"
      src={hero3Image}
      width={297}
      height={297}
      alt=""
    />
    <Image
      class="rounded-2.5xl w-1/4 relative z-10 -rotate-8 border-image"
      src={hero1Image}
      width={297}
      height={297}
      alt=""
    />
  </div>
</div>
