<div class="pt-[132px] pb-[103px]">
  <div
    class="capitalize text-center font-monument text-3xl md:text-big-hero text-white"
  >
    <div
      class="-skew-x-[10deg] inline-block bg-primary rounded-2xl py-1 px-4 leading-tight mb-4"
    >
      <span>A Ponte</span>
    </div>
    Entre
    <br />
    <p class="text-base md:text-5xl">E o Futuro do Mercado</p>
  </div>
  <p
    class="text-center text-xs md:text-2xl text-[#ddd] mt-8 max-w-4xl mx-auto leading-[170%] md:leading-10"
  >
    A Bold Labs é um laboratório de inovação criativa, agência e consultoria
    especializada em capacitar marcas africanas a destacarem-se.
  </p>
</div>
