---
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import { ArrowDown } from "lucide-react";
import Services from "./interactive/Services";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative mt-10 lg:mt-[121px] md:pl-10">
  <div
    class="absolute hidden md:block -rotate-90 bg-primary px-6 py-4 -translate-x-16 text-white left-0 top-0 font-medium uppercase"
  >
    <p>{t("services.side-title")}</p>
  </div>
  <section
    class="wrapper grid md:grid-cols-2 lg:grid-cols-3 md:grid-rows-[auto,1fr,1fr] md:ml-4 gap-y-5 gap-x-6"
  >
    <h2
      class="font-monument text-center col-span-full md:text-left lg:text-4.5xl"
    >
      {t("services.title")}
      <span
        class="-skew-x-[10deg] bg-primary rounded-sm p-1 leading-tight inline-block text-white"
        ><span>{t("services.marked-title")}</span></span
      >
    </h2>
    <Services lang={lang} client:media="(width >= 48rem /* 768px */)" />
    <div
      class="hidden md:flex rounded-4xl bg-txt-500 p-8 flex-col justify-between text-white"
    >
      <p class="text-lg leading-[170%]">
        {t("services.link-card-black-description")}
      </p>
      <div class="flex justify-between items-center font-semibold">
        <p class="text-2xl">{t("services.link-card-black-link")}</p>
        <a
          href="#"
          class="size-16 hover:bg-txt-400 hover:text-txt-600 duration-300 flex items-center justify-center text-lg rounded-full bg-txt-600"
        >
          <ArrowDown size={24} />
        </a>
      </div>
    </div>
    <div
      class="hidden md:flex rounded-4xl bg-primary p-8 flex-col justify-between text-txt-100"
    >
      <p class="text-lg leading-[170%]">
        {t("services.link-card-primary-description")}
      </p>
      <div class="font-semibold flex justify-between items-center">
        <p class="text-2xl">{t("services.link-card-primary-link")}</p>
        <div>
          <a
            href="#"
            class="size-16 flex items-center duration-300 hover:bg-txt-100 hover:text-txt-400 justify-center text-lg rounded-full bg-white"
          >
            <ArrowDown size={24} />
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
