---
import IntroductionSection from "@/components/IntroductionSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="pt-12 relative background-grid-pattern bg-txt-100">
    <!-- <Navbar /> -->
    <!-- <Hero /> -->
  </div>
  <IntroductionSection />
</Layout>
