---
import Footer from "@/components/Footer.astro";
import { getLangFromUrl } from "@/lib/utils";
import "@/styles/global.css";
import "@fontsource-variable/archivo";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Bold Labs</title>
  </head>
  <body class="font-sans font-normal">
    <slot />
    <Footer />
  </body>
</html>
